[data-md-color-primary=blue]{
	--md-primary-fg-color:#3E79F1;
	--md-primary-bg-color:#fff;
}

[data-md-color-accent=yellow]{
	--md-accent-fg-color:#FFC463;
}


[data-md-color-primary=yellow]{
	--md-primary-fg-color:#FFC463;
}

[data-md-color-accent=light-blue]{
	--md-accent-fg-color:#3E79F1;
}

.md-button--yellow{color:#FFC463; background-color:#FFC463; border-color:#FFC463; text-align: #FFC463;}

